@import 'modules/variables';
@import 'modules/navigation';
@import 'modules/modals';
@import 'modules/footer';

* {
    font-family: --roc;
    font-weight: 400;
    list-style: none;
    margin: 0% !important;
    padding: 0% !important;
}

body {
    background-color: $offwhite;
}

#header {
    display: flex;

    #profile img {
        height: 96px;
        border-radius: 100%;
    }
}