.landing-h1 {
  color: #591727;
  font-size: 60px;
}

.landing-h2 {
  color: #591727;
  font-size: 20px;
}

.landing-h5 {
  color: #591727;
  font-size: 20px;
  margin: 20px 0 0 20px;
  overflow: hidden;
}

#logo {
  display: none;
  position: absolute;
  top: 2%;
  left: 3%;
  width: 20%;
  height: auto;
}

nav {
  width: 100%;
  height: 81px;
  background-color: #F4C9FF;
  border-top: 1px solid #591727;
  border-bottom: 1px solid #591727;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 79px;
}
nav ul li {
  color: #591727;
  font-size: 20px;
  margin: 0 10px;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 0;
  right: 16px;
  height: 10vh;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
}
#header ul {
  display: flex;
}

.landing-container {
  width: 100%;
  height: 719px;
  display: flex;
  flex-wrap: wrap;
}
.landing-container .landing-titles {
  width: 90%;
  position: absolute;
  top: 38vh;
  left: 5%;
  text-align: center;
  font-family: lust-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.landing-container .landing-left {
  display: none;
}
.landing-container .landing-right {
  width: 100%;
  background-image: url(../img/right.png);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 834px) {
  .landing-h1 {
    font-size: 124px;
  }
  .landing-h2 {
    font-size: 40px;
  }
  .landing-h5 {
    font-size: 30px;
    margin: 30px 0 0 30px;
  }
  nav ul li {
    font-size: 28px;
    margin: 0 40px;
  }
  #logo {
    display: block;
    position: absolute;
    top: 2%;
    left: 5%;
    width: 10%;
    height: auto;
  }
  .landing-container {
    width: 100%;
    height: 1113px;
    display: flex;
    flex-wrap: wrap;
  }
  .landing-container .landing-titles {
    width: 90%;
    height: 20vh;
    position: absolute;
    top: 38vh;
    left: 5%;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  #logo {
    width: 6%;
    left: 4%;
  }
  .landing-container {
    width: 100%;
    height: 943px;
    display: flex;
    flex-wrap: wrap;
  }
  .landing-container .landing-titles {
    width: 60%;
    height: 30vh;
    position: absolute;
    top: 34vh;
    left: 20%;
    text-align: center;
  }
  .landing-container .landing-left {
    display: block;
    width: 50%;
    background-image: url(../img/left.png);
    background-size: cover;
    background-position: 60% 100%;
  }
  .landing-container .landing-right {
    width: 50%;
    background-position: 80% 10%;
  }
}
@media screen and (min-width: 1920px) {
  .landing-h1 {
    font-size: 150px;
  }
  .landing-h2 {
    font-size: 40px;
  }
  nav ul li {
    font-size: 30px;
    margin: 0px 90px;
  }
  .landing-container {
    height: 1000px;
  }
}
#add-product-form {
  display: none;
}

#add-product-form.active {
  display: block;
  position: absolute;
  background-color: #FDE7AE;
  z-index: 50;
  width: 100vw;
  height: 100%;
  border: 2px solid #591727;
  text-align: center;
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  font-size: 20px;
}
#add-product-form.active .form-label {
  margin-bottom: 0;
}
#add-product-form.active #close-add-bttn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 35px;
}
#add-product-form.active h2 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  width: 173px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 63px;
}
#add-product-form.active input {
  width: 340px;
  height: 60px;
  margin: 0 9px;
  border: 1px solid #591727;
  border-radius: 0;
}
#add-product-form.active button {
  background-color: #F4C9FF;
  border: 1px solid #591727;
  font-weight: 700;
  font-size: 24px;
  color: #591727;
  padding: 9px 35px;
}

@media screen and (min-width: 834px) {
  .mb-3 {
    margin-bottom: 2rem !important;
  }
  #add-product-form.active {
    font-size: 28px;
  }
  #add-product-form.active #close-add-bttn {
    top: 5px;
    right: 15px;
    font-size: 65px;
  }
  #add-product-form.active h2 {
    font-size: 40px;
    width: 230px;
    margin-top: 125px;
  }
  #add-product-form.active input {
    margin: auto;
  }
  #add-product-form.active button {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  #add-product-form.active {
    font-size: 28px;
    height: 928px;
    width: 464px;
    margin: 5vh 33vw;
  }
  #add-product-form.active #close-add-bttn {
    top: 5px;
    right: 15px;
    font-size: 65px;
  }
  #add-product-form.active h2 {
    margin-top: 70px;
  }
  #add-product-form.active input {
    margin: auto;
  }
  #add-product-form.active button {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1920px) {
  #add-product-form.active {
    margin: 7vh 38vw;
  }
}
* {
  list-style: none;
  overflow-x: hidden;
}

body {
  background-color: #FEFBDC;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

#header #profile img {
  height: 96px;
  border-radius: 100%;
}

i:hover {
  cursor: pointer;
}

#grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 373px;
}
#grid-container .product-wrapper {
  background-color: #E78550;
  justify-content: center;
  position: relative;
  border: 1px solid #591727;
}
#grid-container .product-wrapper .hover-functions {
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 20px;
}
#grid-container .product-wrapper .hover-functions i {
  margin-left: 6px;
}
#grid-container .product-wrapper img {
  width: 247px;
  height: 247px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 54px 54px 0 54px;
  border: 2px solid #591727;
}
#grid-container .product-wrapper .product-bio {
  display: flex;
  justify-content: center;
  height: 58px;
}
#grid-container .product-wrapper .product-bio h3,
#grid-container .product-wrapper .product-bio p {
  font-size: 20px;
  line-height: 55px;
  margin-bottom: 0%;
}
#grid-container .product-wrapper .product-bio h3 {
  width: 70%;
  margin-left: 54px;
}
#grid-container .product-wrapper .product-bio p {
  width: 30%;
  text-align: right;
  margin-right: 54px;
}

@media screen and (min-width: 834px) {
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 438px;
  }
  #grid-container .product-wrapper .hover-functions {
    top: 11px;
  }
  #grid-container .product-wrapper img {
    width: 305px;
    height: 305px;
  }
  #grid-container .product-wrapper .product-bio {
    height: 60px;
  }
  #grid-container .product-wrapper .product-bio h3,
#grid-container .product-wrapper .product-bio p {
    font-size: 23px;
    line-height: 58px;
  }
}
@media screen and (min-width: 1024px) {
  #grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 478px;
  }
  #grid-container .product-wrapper .hover-functions {
    top: 11px;
    right: 25px;
  }
  #grid-container .product-wrapper img {
    width: 342px;
    height: 342px;
  }
}
@media screen and (min-width: 1920px) {
  #grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 486px;
  }
  #grid-container .product-wrapper img {
    width: 368px;
    height: 368px;
  }
}/*# sourceMappingURL=style.css.map */