$purple: #F4C9FF;
$burgundy: #591727;
$orange: #E78550;
$yellow: #FDE7AE;
$off-white: #FEFBDC;

// Text ---------------------------------

.landing-h1 {
    color: $burgundy;
    font-size: 60px;
}

.landing-h2 {
    color: $burgundy;
    font-size: 20px;
}

.landing-h5 {
    color: $burgundy;
    font-size: 20px;
    margin: 20px 0 0 12%;
}

.landing-logo {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 20%;
    height: auto;
}

// Landing Page Divs --------------------

.landing-titles {
    width: 90%;
    height: 20vh;
    position: absolute;
    top: 38vh;
    left: 5%;
    text-align: center;
}

.landing-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.landing-left {
    display: none;
}

.landing-right {
    width: 100%;
    height: 90vh;
    background-image: url(../img/right.png);
    background-size: cover;
    background-position: center;
}

.landing-login-nav {
    width: 60%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 3vh;
    right: 5%;
}

.landing-bottom-nav {
    width: 100%;
    height: 10vh;
    background-color: $purple;
    border-top: 2px solid $burgundy;
    display: flex;
    flex-wrap: wrap;
}


// MOBILE MEDIUM -----------------------------------------------------------------------------------

@media screen and (min-width: 375px) {

    .landing-h1 {
        color: $burgundy;
        font-size: 64px;
    }

    .landing-h2 {
        color: $burgundy;
        font-size: 24px;
    }

    .landing-h5 {
        color: $burgundy;
        font-size: 20px;
        margin: 20px 0 0 14%;
    }

    .landing-login-nav {
        width: 60%;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 3vh;
        right: 1%;
    }
}

// MOBILE LARGE -----------------------------------------------------------------------------------

@media screen and (min-width: 425px) {

    h5 {
        color: $burgundy;
        font-size: 24px;
        margin: 20px 0 0 13%;
    }

    .landing-login-nav {
        width: 60%;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 2vh;
        right: 1%;
    }
}


// TABLET/IPAD -----------------------------------------------------------------------------------

@media screen and (min-width: 768px) {

    // Text ---------------------------------

    .landing-h1 {
        color: $burgundy;
        font-size: 124px;
    }

    .landing-h2 {
        color: $burgundy;
        font-size: 40px;
    }

    .landing-h5 {
        color: $burgundy;
        font-size: 30px;
        margin: 30px 0 0 18%;
    }

    .landing-logo {
        position: absolute;
        top: 2%;
        left: 5%;
        width: 14%;
        height: auto;
    }

    // Landing Page Divs --------------------

    .landing-titles {
        width: 90%;
        height: 20vh;
        position: absolute;
        top: 38vh;
        left: 5%;
        text-align: center;
    }

    .landing-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .landing-left {
        display: block;
        width: 100%;
        height: 45vh;
        background-image: url(../img/left.png);
        background-size: cover;
        background-position: 60% 100%;
    }

    .landing-right {
        width: 100%;
        height: 45vh;
        background-position: 80% 10%;
    }

    .landing-login-nav {
        width: 40%;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 2vh;
        right: 5%;
    }

    .landing-bottom-nav {
        width: 100%;
        height: 10vh;
        background-color: $purple;
        border-top: 2px solid $burgundy;
        display: flex;
        flex-wrap: wrap;
    }
}

// LAPTOP SMALL -----------------------------------------------------------------------------------

@media screen and (min-width: 1024px) {

    // Text ---------------------------------

    .landing-h1 {
        color: $burgundy;
        font-size: 110px;
    }

    .landing-h2 {
        color: $burgundy;
        font-size: 30px;
    }

    .landing-h5 {
        color: $burgundy;
        font-size: 26px;
        margin: 18px 0 0 21%;
    }

    .landing-logo {
        position: absolute;
        top: 4%;
        left: 3%;
        width: 8%;
        height: auto;
    }

    // Landing Page Divs --------------------

    .landing-titles {
        width: 60%;
        height: 30vh;
        position: absolute;
        top: 34vh;
        left: 20%;
        text-align: center;
    }

    .landing-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .landing-left {
        display: block;
        width: 50%;
        height: 90vh;
    }

    .landing-right {
        width: 50%;
        height: 90vh;
    }

    .landing-login-nav {
        width: 30%;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 3vh;
        right: 5%;
    }

    .landing-bottom-nav {
        width: 100%;
        height: 10vh;
        background-color: $purple;
        border-top: 3px solid $burgundy;
        display: flex;
        flex-wrap: wrap;
    }
}


// LAPTOP LARGE -----------------------------------------------------------------------------------

@media screen and (min-width: 1440px) {

    // Text ---------------------------------

    .landing-h1 {
        color: $burgundy;
        font-size: 150px;
    }

    .landing-h2 {
        color: $burgundy;
        font-size: 40px;
    }

    .landing-h5 {
        color: $burgundy;
        font-size: 40px;
        margin: 20px 0 0 20%;
    }

    // Landing Page Divs --------------------

    .landing-titles {
        width: 60%;
        height: 30vh;
        position: absolute;
        top: 34vh;
        left: 20%;
        text-align: center;
    }

    .landing-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .landing-left {
        display: block;
        width: 50%;
        height: 90vh;
    }

    .landing-right {
        width: 50%;
        height: 90vh;
    }

    .landing-login-nav {
        width: 30%;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 3vh;
        right: 5%;
    }

    .landing-bottom-nav {
        width: 100%;
        height: 10vh;
        background-color: $purple;
        border-top: 3px solid $burgundy;
        display: flex;
        flex-wrap: wrap;
    }
}