#editModal {
    --bs-modal-bg: #FDE7AE;
    border: 2px solid $burgundy;
    text-align: center;
    font-family: $roc;
    font-weight: 500;
    color: $burgundy;
    font-size: 20px;
    --bs-modal-border-radius: 0%;

    h2 {
        font-family: roc-grotesk-wide, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        width: 190px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 63px;
    }

    .modal-header {
        padding: 0;

        .btn-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 25px;
        }
    }

    .modal-body {
        padding: 0;

        #image-preview img {
            width: 92%;
        }

        #productForm {
            width: 100%;
            padding: 0;

            input {
                width: 290px;
                height: 60px;
                margin: 0 9px;
                border: 1px solid $burgundy;
                border-radius: 0;
            }
        }
    }

    .modal-footer {
        justify-content: center;

        .btn-primary {
            background-color: $pink;
            border: 1px solid $burgundy;
            font-weight: 700;
            font-size: 24px;
            color: $burgundy;
            padding: 9px 35px;
            border-radius: 0%;
        }
    }
}

.mb-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#add-product-form {
    display: none;
}

#add-product-form.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $yellow;
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    z-index: 500;
    width: 96%;
    height: 100%;
    overflow-y: auto;
    border: 2px solid $burgundy;
    text-align: center;
    font-family: $roc;
    font-weight: 500;
    color: $burgundy;
    font-size: 20px;

    .form-label {
        margin-bottom: 0;
    }

    #close-add-bttn {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 35px;
    }

    h2 {
        font-family: roc-grotesk-wide, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        width: 173px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 63px;
    }

    input {
        width: 290px;
        height: 60px;
        margin: 0 9px;
        border: 1px solid $burgundy;
        border-radius: 0;
    }

    button {
        background-color: $pink;
        border: 1px solid $burgundy;
        font-weight: 700;
        font-size: 24px;
        color: $burgundy;
        padding: 9px 35px;
        margin-bottom: 1rem;
    }
}

#user-profile {
    display: none;

}

#user-profile.active {
    display: block;
    position: fixed;
    top: 0;

    background-color: $yellow;
    z-index: 200;
    width: 100vw;
    height: 100%;
    border: 2px solid $burgundy;
    text-align: center;
    font-family: $roc;
    font-weight: 500;
    color: $burgundy;
    font-size: 20px;

    #close-profile-bttn {
        display: block;
        position: relative;
        font-size: 40px;
        padding: 0.5rem;
        left: 42%;
    }

    #dp {
        width: 200px;
        height: 200px;
        display: inline-block;
        border-radius: 50%;
        background-position: 50% 50%;
        background-size: cover;
        border: 1px solid $burgundy;
        background-color: $pink;
        margin-bottom: 2rem;

    }

    h3 {
        margin-bottom: 2rem;
    }

    .btn-wrapper {
        margin-top: 2rem;
    }

    #myProducts-Btn {
        background-color: $pink;
        border: 1px solid $burgundy;
        font-weight: bold;
        font-size: 18px;
        font-family: $roc;
        color: $burgundy;
        padding: 9px 35px;
        margin: .5rem 0;
        width: 80vw;
    }

    #logout-Btn {
        background-color: $tomato;
        border: 1px solid $burgundy;
        font-weight: bold;
        font-size: 18px;
        font-family: $roc;
        color: $burgundy;
        padding: 9px 35px;
        margin: .5rem 0;
        width: 80vw;
    }

}

// ---------comment modal styles 


// ---------end of comment modal styles 

// TABLET/IPAD -----------------------------------------------------------------------------------
@media screen and (min-width: 768px) {
    #user-profile.active {
        width: 80%;
        height: 80vh;
        margin-left: 10%;
        margin-top: 10vh;

        #close-profile-bttn {
            font-size: 50px;
            padding: 1.5rem;
        }

        .btn-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        #myProducts-Btn {
            width: 40%;
            margin: .5rem 20%;
            font-size: 22px;
        }

        #logout-Btn {
            width: 40%;
            margin: .5rem 20%;
            font-size: 22px;
        }
    }

    #user-overlay.active {
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 100;
    }

    #add-product-form.active {
        top: 100px;
        left: 200px;
        width: 45%;
        height: 72%;
    }
}

// LAPTOP-----------------------------------------------------------------------------------
@media screen and (min-width: 1024px) {
    .mb-3 {
        margin-bottom: 1rem !important;
    }

    #add-product-form.active {
        top: 35px;
        left: 325px;
        width: 35%;
        height: 80%;
    }
}

// Desktop-----------------------------------------------------------------------------------
@media screen and (min-width: 1920px) {
    #add-product-form.active {
        top: 138px;
        left: 775px;
        width: 18%;
        height: 68%;
    }
}